<% provide(:title, 'About') %>
    <h1>About This, About Me</h1>
    <p>
     Here is my attempt at customizing a web application demonstrate some Ruby on Rails skills I have acquired through the help of various resources, including the online <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>, <a href="http://therubyist.com/">Rubyist Magazine</a>, and a textbook called Rails Recipes. 
     You may notice some formatting similarities between this app and Twitter, and this is due to the use of the very convenient yet all the while elegant Bootstrap Ruby Gem in my Gemfile.  Currently, the bulk of users and microposts are from the use of a Factory gem which generates users for tests purposes and fills in microposts with text from Lorem ipsum.
    </p>
    <p>I am a mathematician turned nuclear engineer who really enjoys programming and web app development.  Make an account on here to see what this app is all about, and fully experience all the features I have included.
    </p>
