<% provide(:title, 'About') %>
    <h1>About This 1!</h1>
    <p>
     Is this any different than that one site twitter?  Probably not.  But at least you can avoid those sloppy dead celebs posthumously advertising bullshit.  Let it all fall out here.  Is life worth living if you aren't hurting someone else?  It really isn't.  Let your inner bully reign queen of all!
    </p>
