<% provide(:title, 'Help?') %>
    <h1>Help?</h1>
    <p>
      Yeah fucking right.  No one is here to help you through the wiley wilds of this here morass of interwebs.  </p>
      <p>
      The interwebs were woven by that big spider from Harry Potter.
    </p> 
