<% provide(:title, 'Help?') %>
    <h1>Help?</h1>
    <p>
      No one is here to help you through the wiley wilds of this here morass of interwebs.  You are alone here!  Unless you would like to email me at dolloffj@gmail.com
  </p>
      
